// Mixins
.box-shadow (@hor, @vert, @blur, @spread, @color) {
  -webkit-box-shadow: @hor @vert @blur @spread @color;
  -moz-box-shadow: @hor @vert @blur @spread @color;
  -o-box-shadow: @hor @vert @blur @spread @color;
  box-shadow: @hor @vert @blur @spread @color;
}

.border-radius (@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

// Variables
@base_gray: #ccc;


body {
  width: 480px;
  padding-top: 100px;
  margin: 0 auto 0 auto;
  background: @base_gray;
}
canvas {
  background: #fff;
  border-left: 1px solid darken(@base_gray, 13%);
  border-right: 1px solid darken(@base_gray, 13%);
  border-bottom: 1px solid darken(@base_gray, 30%);
}
