// Mixins
.box-shadow (@hor, @vert, @blur, @spread, @color) {
  -webkit-box-shadow: @hor @vert @blur @spread @color;
  -moz-box-shadow: @hor @vert @blur @spread @color;
  -o-box-shadow: @hor @vert @blur @spread @color;
  box-shadow: @hor @vert @blur @spread @color;
}

.border-radius (@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}


body {
  width: 480px;
  padding-top: 100px;
  margin: 0 auto 0 auto;
  background: #ccc;
}
canvas {
  background: #fff;
  .box-shadow;
}
