html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: '04b03';
  src: url("fonts/04b_03__-webfont.eot");
  src: url("fonts/04b_03__-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/04b_03__-webfont.woff") format("woff"), url("fonts/04b_03__-webfont.ttf") format("truetype"), url("fonts/04b_03__-webfont.svg#04b03Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  width: 962px;
  margin: 0 auto 0 auto;
  background: #ccccc1;
  color: #5b6449;
  font: 16px '04b03', monospace;
  text-shadow: 1px 1px 0 #d8dcd0; }

a {
  color: #464c38; }
  a:visited {
    color: #464c38; }
  a:hover {
    color: #6e7958; }
  a:active {
    color: black; }

canvas {
  background: #ced6bc;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit; }

#canvas {
  border-top: 1px solid #b7b7a8;
  border-left: 1px solid #a9a997;
  border-right: 1px solid #a9a997;
  border-bottom: 1px solid #80806a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

#coke {
  background-image: url("../images/coke.png");
  height: 81px;
  width: 289px;
  text-indent: -9999px;
  white-space: nowrap;
  margin: 32px auto 16px auto;
  color: #5b6449;
  font-size: 128px;
  text-align: center; }
  #coke a {
    outline: none; }

#subtitle {
  background-image: url("../images/a_canvas_game.png");
  height: 25px;
  width: 249px;
  text-indent: -9999px;
  white-space: nowrap;
  margin: 16px auto 16px auto;
  color: #5b6449;
  font-size: 32px;
  text-align: center; }
  #subtitle a {
    outline: none; }

#instructions {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #565e45;
  text-align: center; }
