@import 'reset';

// Mixins
@mixin border-radius ($radius: 2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin image-replace ($height, $width, $url) {
  background-image: url('#{$url}');
  height: $height;
  width: $width;
  text-indent: -9999px;
  white-space: nowrap;
  a { outline: none; }
}


// Font-face
@font-face {
  font-family: '04b03';
  src: url('fonts/04b_03__-webfont.eot');
  src: url('fonts/04b_03__-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/04b_03__-webfont.woff') format('woff'),
       url('fonts/04b_03__-webfont.ttf') format('truetype'),
       url('fonts/04b_03__-webfont.svg#04b03Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


// Colors
// Background color
$base_gray: #ccccc1;

// Bases are the shades of green. $base0 is darkest, $base3 is lightest.
$base0: #5b6449;
$base1: #7d876b;
$base2: #a4af91;
$base3: #ced6bc;


// Custom
body {
  width: 962px;
  margin: 0 auto 0 auto;
  background: $base_gray;
  color: $base0;
  font: 16px '04b03', monospace;
  text-shadow: 1px 1px 0 lighten($base0, 50%);
}

a {
              color:  darken($base0, 8%);
  &:visited { color:  darken($base0, 8%); }
  &:hover   { color: lighten($base0, 7%); }
  &:active  { color: black; }
}

canvas {
  background: $base3;
  @include border-radius(inherit);
}

#canvas {
  border-top:    1px solid darken($base_gray,  9%);
  border-left:   1px solid darken($base_gray, 15%);
  border-right:  1px solid darken($base_gray, 15%);
  border-bottom: 1px solid darken($base_gray, 32%);
  @include border-radius(3px);
}

#coke {
  @include image-replace(81px, 289px, '../images/coke.png');
  margin: 32px auto 16px auto;
  color: $base0;
  font-size: 128px;
  text-align: center;
}

#subtitle {
  @include image-replace(25px, 249px, '../images/a_canvas_game.png');
  margin: 16px auto 16px auto;
  color: $base0;
  font-size: 32px;
  text-align: center;
}

#instructions {
  margin-top: 16px;
  margin-bottom: 16px;
  color: darken($base0, 2%);
  text-align: center;
}
